# ---------------------------------------------------------------------------
# Developer-specific properties
#
# Modify this file to taste and save as user.properties
#
# $Id: user.properties.sample,v 1.10 2003/07/26 13:17:51 tim Exp $
# ---------------------------------------------------------------------------


# ----- Which gj compiler: 2.0 or 2.2? (default 2.2) -----
gjc.version = 2.2


# ----- Turn on -novariance? (default true, ignored in version 2.2) -----
gjc.novariance = true


# ----- Turn on -warnunchecked? (default false) -----
gjc.warnunchecked = false


# ----- Skip java.lang.Thread* classes? (default false) -----
build.nothreads = false


# ----- Use emulation classes? (default true for Windows, false otherwise) -----
#build.emulation = true


# ----- Restrict to test cases matching this pattern (omit trailing "Test") -----
#testcase = PriorityQueue
