# ---------------------------------------------------------------------------
# Developer-specific properties
#
# Modify this file to taste and save as user.properties
#
# $Id: user.properties.sample,v 1.1 2003/05/18 11:56:21 tim Exp $
# ---------------------------------------------------------------------------

# ----- Restrict to test cases matching this pattern -----
#testcase = Executors
