# ---------------------------------------------------------------------------
# Developer-specific properties
#
# Modify this file to taste and save as user.properties
#
# $Id: user.properties.sample,v 1.4 2003/05/29 04:35:42 tim Exp $
# ---------------------------------------------------------------------------


# ----- Which gj compiler: 1.3 or 2.0? (default 1.3) -----
gjc.version = 1.3


# ----- Turn on -novariance? (default true, ignored in version 1.3) -----
gjc.novariance = true


# ----- Turn on -warnunchecked? (default false) -----
gjc.warnunchecked = false


# ----- Use emulation classes? (default true for Windows, false otherwise) -----
#build.emulation = true


# ----- Restrict to test cases matching this pattern (omit trailing "Test") -----
#testcase = PriorityQueue
